footer {
    background-color: blue;
    position: absolute;
    bottom: 0;

    height: 40px;
    color: white;
}

img {
    width: 3%;
    margin: 5px;
}

.footer_img {
    position: relative;
    left: 85%
}